/* Estrutura da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    align-items: flex-start;
}

.button{
    background-color: #ffffff;
    color: #032b04;
    border: 2px solid #002901;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

/* Estilo da imagem NDVI */
.ndvi-image {
    max-width: 60%;
    height: auto;
    margin-right: 20px;
}

/* Legenda ao lado direito da imagem */
.legend {
    flex-basis: 35%;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.legend h3 {
    margin-top: 0;
}

.legend ul {
    list-style: none;
    padding: 0;
}

.legend li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* Cores das legendas */
.color-water {
    background-color: #dddddd;
}

.color-no-veg {
    background-color: #e9e4ac;
}

.color-medium-high {
    background-color: #94c457;
}

.color-high {
    background-color: #0d5006;
}

/* Estilos da tabela de sugestões */
.suggestions {
    margin-top: 40px;
}

.suggestions table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.suggestions th, .suggestions td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.suggestions th {
    background-color: #f0f0f0;
}

.suggestions .color-box {
    display: inline-block;
    width: 15px;
    height: 15px;
}

/* Estilos de cor dos ícones */
.icon-water {
    color: blue;
}

.icon-no-veg {
    color: brown;
}

.icon-seedling {
    color: green;
}

.icon-tree {
    color: darkgreen;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 600px; /* Adjust the container size */
    margin: 0 auto; /* Center the container */
    overflow: hidden; /* Prevent overflow when zooming */
    display: flex; /* Use flexbox to center the image */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
}

.ndvi-image {
    width: 100%;
    transition: transform 0.3s ease; /* Smooth transition */
    cursor: zoom-in; /* Change cursor to indicate zoom */
    transform-origin: center center; /* Ensure zooming happens from the center */
}

.ndvi-image.zoomed {
    transform: scale(2); /* Zoom in 2x */
    cursor: zoom-out; /* Change cursor when zoomed */
}


