<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NDVI na Agricultura</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="/static/index.css" rel="stylesheet">

</head>

<body>

  <nav>
    <a href="#ndvi">O Que é o NDVI?</a>
    <a href="#uso">Como Utilizar o NDVI?</a>
    <a href="#beneficios">Benefícios</a>
    <a href="#ajuda">Ajuda na Agricultura Familiar</a>
  </nav>


  <header>
    <h1>NDVI na Agricultura</h1>
    <p>Monitorando a saúde das plantas com tecnologia</p>
    <button class="button" onclick="window.location.href='/map'">Mapa</button>
  </header>

  <section id="ndvi">
    <h2>O Que é o NDVI?</h2>
    <p>O NDVI (Índice de Vegetação por Diferença Normalizada) é uma medida utilizada para avaliar a saúde das plantas e
      monitorar a vegetação. Ele é calculado usando dados de imagens de satélite, analisando a diferença entre a luz
      refletida nas bandas do infravermelho próximo e do vermelho. Valores de NDVI variam de -1 a 1, onde valores mais
      altos indicam vegetação mais saudável.</p>
  </section>

  <section id="uso">
    <h2>Como Utilizar o NDVI?</h2>
    <p>O NDVI é utilizado para:</p>
    <ul>
      <li><strong>Monitoramento da Saúde das Culturas:</strong> Ajuda a identificar áreas com estresse hídrico ou
        nutricional.</li>
      <li><strong>Planejamento de Irrigação:</strong> Permite que os agricultores otimizem o uso da água, irrigando
        apenas onde necessário.</li>
      <li><strong>Gestão de Insumos:</strong> Auxilia na aplicação precisa de fertilizantes e pesticidas, reduzindo
        custos e impactos ambientais.</li>
      <li><strong>Acompanhamento do Crescimento:</strong> Facilita a avaliação do crescimento das culturas ao longo do
        tempo.</li>
    </ul>
  </section>

  <section id="beneficios">
    <h2>Benefícios do Uso do NDVI</h2>
    <p>Os benefícios do uso do NDVI incluem:</p>
    <ul>
      <li><strong>Aumento da Produtividade:</strong> Identificação de áreas que necessitam de atenção específica pode
        aumentar o rendimento das culturas.</li>
      <li><strong>Redução de Custos:</strong> O uso eficiente de água e insumos resulta em economia para os
        agricultores.</li>
      <li><strong>Tomada de Decisões Informadas:</strong> Dados precisos auxiliam na tomada de decisões estratégicas em
        tempo real.</li>
      <li><strong>Sustentabilidade:</strong> O monitoramento contínuo contribui para práticas agrícolas mais
        sustentáveis e redução do impacto ambiental.</li>
    </ul>
  </section>

  <section id="ajuda">
    <h2>Como o NDVI Ajuda na Agricultura Familiar</h2>
    <p>Na agricultura familiar, o uso do NDVI pode:</p>
    <ul>
      <li><strong>Maximizar a Colheita:</strong> Os agricultores familiares podem identificar rapidamente áreas que
        precisam de irrigação ou fertilização.</li>
      <li><strong>Reduzir Riscos:</strong> Monitorar a saúde das culturas ajuda a antecipar problemas e minimizar
        perdas.</li>
      <li><strong>Aumentar a Autonomia:</strong> Acesso a tecnologias que antes estavam disponíveis apenas para grandes
        produtores.</li>
      <li><strong>Promover a Diversificação:</strong> As práticas agrícolas podem ser diversificadas com base em dados
        específicos da saúde da vegetação.</li>
    </ul>
  </section>

  <footer>
    <p>&copy; 2024 NDVI na Agricultura. Todos os direitos reservados.</p>206
  </footer>
</body>